@font-face {
  font-family: 'Prospectus Bold';
  src: url(~assets/fonts/Prospectus/ProspectusProLDEMO-Bold.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Prospectus Regular';
  src: url(~assets/fonts/Prospectus/ProspectusProLDEMO-SemiBold.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Prospectus Light';
  src: url(~assets/fonts/Prospectus/ProspectusProLDEMO-Light.woff2)
    format('woff2');
}

$Niramit: 'Niramit', sans-serif;
$Plex: 'IBM Plex Mono', monospace;
$ProspectusBold: 'Prospectus Bold', serif;
$ProspectusReg: 'Prospectus Regular', serif;
$ProspectusLight: 'Prospectus Light', serif;

h1 {
  font-size: 8em;
  color: #cb7752;
  font-family: $ProspectusBold;
  text-transform: lowercase;
  font-weight: 300;
  line-height: 0.8;

  @include max-width(500) {
    font-size: 6em;
    padding: 0 10px;
  }
}

h2,
h3 {
  font-family: $ProspectusReg;
}

h2 {
  font-size: 5.6em;
  margin-bottom: 20px;

  @include max-width(600) {
    font-size: 5em;
    margin-bottom: 10px;
  }
}

h3 {
  font-size: 4em;
}

p,
li,
button,
span {
  font-family: 'Niramit', sans-serif;
}

p,
li,
.button {
  font-size: 1.92em;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #006c67;
  position: relative;
  transition: color 0.3s ease;
  padding: 0 2px;

  &:before {
    content: '';
    background-color: rgba($darkTeal, 0.3);
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    transition: height 0.2s ease-in-out;
    animation-delay: 0.2s;
  }

  &:hover {
    &:before {
      content: '';
      background-color: rgba($darkTeal, 0.3);
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: -10;
    }
  }
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #006c67;
  text-transform: lowercase;
  padding: 10px 15px;
  margin-right: 10px;
  box-shadow: 5px 5px 0 #006c67;
  border: 2px dashed #006c67;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.25s ease-in-out;
}
.button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 5px;
  left: 5px;
  color: #006c67;
}

.button:before {
  position: static;
}

.button:hover:before {
  position: static;
}
